name: 'shell commands workflow'
on: [push]
jobs:
  run-shell-cmds:
   runs-on: ubuntu-latest
   steps: 
    - name: echo a string
      run: echo 'hello git actions'
    - name: multiline script
      run: | 
        node -v 
        npm -v
    - name: python commands
      run: |
        import platform
        print(platform.processor())
      shell: python
  run-commands-windows:
    runs-on: windows-latest
    steps: 
      - name: Directory powershell
        run: Get-Location
      - name: Directory bash
        run: pwd
        shell: bash
    
       